/* Make sure all items can fill the page. As padding as needed. */
body {
    margin: 0;
    padding: 0;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-title {
    display: block;
    float: left;
    margin: 0;
    padding: 16px;
    color: blue;
}
  
.nav-item {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-item:hover, .active {
    background-color: #111;
}