*{
    font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0% 3%;
  background-color: #0083bb;
  color:white;
}

.learn-more div{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.organizations{
  display: flex;
  flex-direction: row;
}

.organizations div{
  padding-top: 50px;
  padding-right: 30px;
  width: 20%;
}

.organizations p{
  font-size: 1.2em;
}

.organizations h3{
  font-size: x-large;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.footer li{
  font-size: 1.2em;
}
